# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp
*.temp